[submodule "backend"]
	path = backend
	url = git@github.com:jonathan-f-silva/project-car-shop-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:jonathan-f-silva/project-car-shop-frontend.git
